{% extends 'layout/base.html' %}
{% load static %}

{% block page_title %}Portfolio Page{% endblock %}

{% block page_heading %}<h1 class="title">Portfolio</h1>{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col">
			<p>Below are a few examples of what I have done during my developement career</p>
<p>Please note that some of the below were developed during my time of learning and
are not showcases of my complete understanding but a focus on what I was learning
at the time. Where this is the case it will be mentioned in the description.</p>
<p>please find a link to my GitHub repo to view the code used where I can share this.
selecting the image will take you to the deployed website.</p>
		</div>
	</div>
</div>

<div class="content">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<a href="https://milestoneprojectmoviestore.herokuapp.com/" target="blank">
				<img src="{% static 'media/images/MSP3snippet.png' %}" alt="My third milestone project">
    </a>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h4>The Moviestore</h4>
			<a href="https://github.com/OwenCookman/MovieStore" target="blank">
				<h5>GitHub Repo</h5>
			</a>
			<p>This application was made as part of learning how to be a developer, it was created to
				showcase the use of Python and flask (Data Centric).<br>
            The user can search for a movie using the search bar and the application uses the OMdb API
            to return information about that movie, users can then leave reviews of that movie and read
            the reviews left by others. At this time I had not learned about user logins and could not
            provide functionality for that but the functions and page rendering is all handled by Python
            which is a back end language.</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 show-tablet hidden">
			<a href="https://owencookman.github.io/MilestoneProject2/" target="blank">
				<img src="{% static 'media/images/MSP2snippet.png' %}" alt="My second milestone project">
            </a>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h4>The Memory Game</h4>
			<a href="https://github.com/OwenCookman/MilestoneProject2" target="blank">
				<h5>GitHub Repo</h5>
			</a>
			<p>This application was made as part of learning how to be a developer. It was created to
				showcase the use of JavaScript and jQuery (User interaction).<br>
            This game is the classic matching cards game where the user can select one of three difficulties
            that introduce new challenges for them to beat. This was created primarily through the use of
            JavaScript adding and removing classes to animate cards and put them in to certain states. </p>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12 hide-tablet">
			<a href="https://owencookman.github.io/MilestoneProject2/" target="blank">
				<img src="{% static 'media/images/MSP2snippet.png' %}" alt="My second milestone project">
            </a>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col-lg-6 col-md-12 col-sm-12">
			<a href="https://owencookman.github.io/Milestone-project-1/" target="blank">
				<img src="{% static 'media/images/MSP1snippet.png' %}" alt="My first milestone project">
                </a>
		</div>
		<div class="col-lg-6 col-md-12 col-sm-12">
			<h4>The Warhammer introduction page</h4>
			<a href="https://github.com/OwenCookman/Milestone-project-1" target="blank">
				<h5>GitHub Repo</h5>
			</a>
			<p>This application was made as part of learning how to be a developer. It was created to
				showcase the use of HTML and CSS (User experience).<br>
                The page was created with the user's experience in mind, and help to lay a lot of the
                foundations for how I can make a website user friendly, from the design choices such as
                images and colours to the way the page is layed out and how things are handled on
                different screen sizes through the use of media queries in CSS as well as responsive
                designs.</p>
		</div>
	</div>
</div>

{% endblock %}