{% extends 'layout/base.html' %}
{% load static %}
{% block page_title %}Portfolio Page{% endblock %}

{% block page_heading %}Portfolio{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<p>Below are a few examples of what I have done during my developement career<br>
Please note that some of the below were developed during my time of learning and
are not showcases of my complete understanding but a focus on what I was learning
at the time. Where this is the case it will be mentioned in the description.</p>
	</div>
</div>



{% endblock %}