@import url('https://fonts.googleapis.com/css?family=Roboto|Inria+Sans&display=swap');

html {
    scroll-behavior: smooth;
    background-color: #021527;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #fafafa;
    max-width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.content {
    padding: 1.5rem;
    max-width: 80%;
    margin: 0 auto;
    background-color: #8e8c8445;
    border-radius: 15px;
    margin-bottom: 20px;
}

@media (max-width: 575px) {
    .content {
        max-width: 100%;
    }
}

footer {
    background-color: #021527;
    color: #fafafa;
}

.sandstone, .navbar .nav-link, 
.btn, .nav-tabs .nav-link, 
.nav-pills .nav-link, 
.breadcrumb, .pagination, 
.dropdown-menu .dropdown-item, 
.tooltip {
    font-size: 1rem;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

img {
    max-width: 400px;
}

.hire-me-btn {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
}

.footer-note {
    font-size: 0.5rem;
}

.title {
    font-family: 'Inria Sans', sans-serif;
    color: #3E3F3A;
}

.bg-primary {
    background-color: #021527!important;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.intro-icon {
    display: block;
    font-size: 6rem;
    cursor: pointer;
    color: #e98706;
}

@media (min-width: 576px) {
    .hidden {
        display: none;
    }
}

@media (max-width: 575px) {
    .hide-mobile {
        display: none;
    }
}

@media (max-width: 575px) {
    .show-mobile {
        display: block;
    }
}

#id_website_1 {
    display: none;
}

/* messages */

ul {
    list-style-type: none;
}

/* forms */

#id_name, #div_id_email, 
#id_business_name, #id_url,
#id_credit_card_number,
#id_username, #id_password,
#id_password1, #id_password2 {
    max-width: 15rem;
    margin: 0 auto;
    text-align: center;
}

#id_functionality, #id_business_type,
#id_customer, #id_message, #id_question {
    max-width: 600px;
    margin: 0 auto;
}

#id_CVV, #id_expiry_month,
#id_expiry_year {
    max-width: 5rem;
    margin: 0 auto;
    text-align: center;
}

/* messages */

.messages div {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 15px;
}

.success {
    background-color: #93c54b78;
}

.warning {
   background-color: #ff000085;
}

.error {
    background-color: 
}

.rotate1, .rotate2 {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate1.down, .rotate2.down {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
