{% extends 'layout/base.html' %}

{% block page_title %}Home page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<h1 class="title">Welcome</h1>
		<p>Are you looking for a new personal or business website? One that works on all screen sizes and uses up to
			date
			languages with modern website design aimed at your target audience, customers or clients? Then please read
			on to see
			how I can help you with your online presence.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-sm-6">
		<i class="fas fa-edit intro-icon"></i>
		<span class="title">Tailored Website</span>
	</div>
	<div class="col-md-3 col-sm-6">
		<i class="fas fa-crosshairs intro-icon"></i>
		<span class="title">Targeted Design</span>
	</div>
	<div class="col-md-3 col-sm-6">
		<i class="fas fa-laptop-code intro-icon"></i>
		<span class="title">Modern languages</span>
	</div>
	<div class="col-md-3 col-sm-6">
		<i class="fas fa-mobile-alt intro-icon"></i>
		<span class="title">Responsive</span>
	</div>
</div>


{% endblock %}