{% extends 'layout/base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block page_title %}Login page{% endblock %}

{% block page_heading %}<h1 class="title spacer">Login</h1>{% endblock %}

{% block content %}
<div class="content">
	<p>If you need to make an account please <a href="{% url 'registration' %}">Register</a> here</p>
</div>
<div class="content">
	<form method="POST">
		{% csrf_token %}
		{{ login_form | as_bootstrap }}
		<button class="btn btn-primary" type="submit">Login</button>
	</form>
</div>
{% endblock %}