{% extends 'layout/base.html' %}

{% block page_title %}{{ user }}'s profile{% endblock %}

{% block page_heading %}{{ user }}'s profile{% endblock %}

{% block content %}
<p>{{ profile.email }}</p>
{% if orders %}
{% for order in orders %}
<div class="row">
	<div class="col-3">
		<p>Business Name</p>
	</div>
	<div class="col-3">
		<p>Total cost</p>
	</div>
	<div class="col-3">
		<p>Status</p>
	</div>
	<div class="col-3">
		<p>Date requested</p>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<p>{{ order.business_name }}</p>
	</div>
	<div class="col-3">
		<p>£{{ order.price|floatformat:2 }}</p>
	</div>
	<div class="col-3">
		{% if order.pay_deposit is False %}
		<p>Awaiting confirmation</p>
		{% elif order.pay_deposit is True and order.deposit_paid is False %}
		<div class="row">
			<div class="col">
				<p>Please pay the deposit</p>
				<form action="{% url 'summary' slug=order.id %}">
					<input type="submit" value="Make Payment">
		</form>
			</div>
		</div>
		{% elif order.pay_deposit is True and order.deposit_paid is True and order.pay_final is False %}
		<div class="row">
			<div class="col">
				<p>Deposit paid, awaiting completion</p>
			</div>
		</div>
		{% elif order.pay_deposit is True and order.deposit_paid is True and order.pay_final is True and order.final_paid is False %}
		<div class="row">
			<div class="col">
				<p>Please pay your final payment</p>
				<form action="{% url 'summary' slug=order.id %}">
					<input type="submit" value="Make Payment">
		</form>
			</div>
		</div>
		{% elif order.pay_deposit is True and order.deposit_paid is True and order.pay_final is True and order.final_paid is True %}
		<p>Final payment made</p>
		{% endif %}
	</div>
	<div class="col-3">
		<p>{{ order.date }}</p>
	</div>
</div>
{% endfor %}
{% else %}
<p>There are currently no orders in your profile, to make an order please fill out the contact form <a
		href="{% url 'contact' %}">here.</a></p>
{% endif %}


{% if questions %}
{% for question in questions %}
<div class="row">
	<div class="col">
		<p>Your question: {{ question.question }}</p>
	</div>
</div>
<div class="row">
<div class="col">
<p>Answer: {{ question.Answer }}</p>
</div>
</div>
<div class="row">
<div class="col">
<a href="{% url 'edit_question' slug=question.id %}">Edit</a>
</div>
</div>
{% endfor %}
{% else %}
<p>No questions to display, if you have a question please click <a href="{% url 'question' %}">here.</a></p>
{% endif %}

{% endblock %}