{% extends 'layout/base.html' %}

{% block page_title %}{{ user }}'s profile{% endblock %}

{% block page_heading %}{{ user }}'s profile{% endblock %}

{% block content %}
<p>{{ profile.email }}</p>
{% for order in orders %}
<div class="row">
	<div class="col-2">
		<p>Business Name</p>
	</div>
	<div class="col-2">
		<p>Website Type</p>
	</div>
	<div class="col-2">
		<p>Functionality</p>
	</div>
	<div class="col-2">
		<p>Business Type</p>
	</div>
	<div class="col-2">
		<p>Customers</p>
	</div>
	<div class="col-2">
		<p>Date Requested</p>
	</div>
</div>
<div class="row">
	<div class="col-2">
		<p>{{ order.business_name }}</p>
	</div>
	<div class="col-2">
		<p>{{ order.website }}</p>
	</div>
	<div class="col-2">
		<p>{{ order.functionality }}</p>
	</div>
	<div class="col-2">
		<p>{{ order.business_type }}</p>
	</div>
	<div class="col-2">
		<p>{{ order.customer }}</p>
	</div>
	<div class="col-2">
		<p>{{ order.date }}</p>
	</div>
</div>
{% if pay_deposit == true %}
<div class="row">
	<div class="col">
		<p>Please pay the deposit</p>
		<form action="{% url 'payment' %}">
			<input type="submit" value="Make Payment">
		</form>
	</div>
</div>
{% endif %}
{% if pay_final == true %}
<div class="row">
	<div class="col">
		<p>Please pay your final payment</p>
		<form action="{% url 'payment' %}">
			<input type="submit" value="Make Payment">
		</form>
	</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}