{% extends 'layout/base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block page_title %}Registration page{% endblock %}

{% block page_heading %}<h1 class="title">Registration</h1>{% endblock %}

{% block content %}
<div class="content">
	<p>If you are already registered please <a href="{% url 'login' %}">Login</a> here</p>
</div>
<div class="content">
	<form method="POST">
		{% csrf_token %}
		{{ registration_form | as_bootstrap }}
		<button type="submit">Register</button>
	</form>
</div>
{% endblock %}