{% extends 'layout/base.html' %}
{% load static %}

{% block page_title %}{{this_invoice.business_name}} invoice{% endblock %}

{% block page_heading %}<h1 class="title">Invoice for {{this_invoice.business_name}}</h1>{% endblock %}

{% block content %}
<a href="{% url 'profile' %}">Return to Profile</a>
<!-- The user's details and business name -->
<div class="content">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 align-left">
			<p>{{ this_invoice.business_name }}</p>
			<p>{{ user.email }}</p>
			<p>{{ user.username }}</p>
		</div>

		<!-- Dates and invoice ID -->
		<div class="col-lg-6 col-md-6 col-sm-12 align-right">
			<p>Date of invoice: {{ this_invoice.invoice_date }}</p>
			<p>Invoice ID: {{ this_invoice.id }}</p>
			<p>Work start date: {{ this_invoice.start_date }}</p>
		</div>
	</div>

	<!-- Invoice details -->
</div>
<div class="content hide-mobile">
	<div class="row">
		<div class="col-3">
			<h4 class="subtitle">Description</h4>
		</div>
		<div class="col-3">
			<h4 class="subtitle">Paid with</h4>
		</div>
		<div class="col-3">
			<h4 class="subtitle">Amount Paid</h4>
		</div>
		<div class="col-3">
			<h4 class="subtitle">Remaining cost</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			{{ this_invoice.description }}
		</div>
		<div class="col-3">
			{{ this_invoice.card_type }} - ****-****-****-{{ this_invoice.last4 }}
		</div>
		<div class="col-3">
			£{{ this_invoice.amount_charged|floatformat:2 }}
		</div>
		<div class="col-3">
			£{{ this_invoice.remaining_cost|floatformat:2 }}
		</div>
	</div>
</div>

<!-- Information for mobile sized screens -->
<div class="content show-mobile hidden">
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Description</h4>
		</div>
		<div class="col">
			{{ this_invoice.description }}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Paid with</h4>
		</div>
		<div class="col">
			{{ this_invoice.card_type }} - ****-****-****-{{ this_invoice.last4 }}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Amount Paid</h4>
		</div>
		<div class="col">
			£{{ this_invoice.amount_charged|floatformat:2 }}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Remaining cost</h4>
		</div>
		<div class="col">
			£{{ this_invoice.remaining_cost|floatformat:2 }}
		</div>
	</div>
	<hr>
</div>

<!-- Stripe Receipt -->
<div class="content">
	<div class="row">
		<div class="col">
			If you would like to view the receipt given by Stripe please click <a
				href="{{ this_invoice.stripe_receipt }}">here</a>
		</div>
	</div>
</div>

<!-- Print button -->
<div class="content">
	<div class="row">
		<div class="col">
			<a id="PrintPage" class="btn btn-secondary" href="#">Print</a>
		</div>
	</div>
</div>

<!-- My details -->
<div class="content">
	<div class="row">
		<div class="col">
			<p>Owen Cookman<br>
Ozzycookman@hotmail.com<br>
07903800951</p>
		</div>
	</div>
</div>
{% endblock %}