{% extends 'layout/base.html' %}
{% load static %}

{% block page_title %}{{this_invoice.business_name}} invoice{% endblock %}

{% block page_heading %}<h1 class="title">Invoice for {{this_invoice.business_name}}</h1>{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col">
			<p>{{ this_invoice.business_name }}<br>
{{ user.username }}<br>
{{ user.email }}</p>
		</div>
		<div class="col">
			<p>Date of invoice: {{ this_invoice.invoice_date }}<br>
        Invoice ID: {{ this_invoice.id }}<br>
        Work start date: {{ this_invoice.start_date }}</p>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col-3">
			<p>Description</p>
		</div>
		<div class="col-3">
			<p>Paid with</p>
		</div>
		<div class="col-3">
			<p>Amount Payed</p>
		</div>
		<div class="col-3">
			<p>Remaining cost</p>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			{{ this_invoice.description }}
		</div>
		<div class="col-3">
			{{ this_invoice.card_type }} - ****-****-****-{{ this_invoice.last4 }}
		</div>
		<div class="col-3">
			£{{ this_invoice.amount_charged|floatformat:2 }}
		</div>
		<div class="col-3">
			£{{ this_invoice.remaining_cost|floatformat:2 }}
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col">
			If you would like to view the receipt given by Stripe please click <a
				href="{{ this_invoice.stripe_receipt }}">here</a>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col">
			<a id="PrintPage" class="btn btn-secondary" href="#">Print</a>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<div class="col">
			<p>Owen Cookman<br>
Ozzycookman@hotmail.com<br>
07903800951</p>
		</div>
	</div>
</div>

{% endblock %}