{% extends 'layout/base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	//<![CDATA[
    Stripe.publishablekey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block page_title %}Make a Payment{% endblock %}
{% block content %}
<section>
	<p>Your total for this payment is £{{ to_pay|floatformat:2 }}</p>
</section>
<section>
	<form role="form" method="post" id="payment-form">
		<legend>Payment Details</legend>

		<div id="credit-card-errors" style="display: none;">
			<div class="alert-message block-message error" id="stripe-error-message"></div>
		</div>

		<div>
			{{ payment_form | as_bootstrap }}
		</div>

		{% csrf_token %}
		<div class="form-group col-md-12">
			<input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
	</form>
</section>
{% endblock %}