{% extends 'layout/base.html' %}
{% load static %}

{% block page_title %}Summary{% endblock %}

{% block page_heading %}<h1 class="title">Summary of your payment</h1>{% endblock %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Business Name</h4>
		</div>
		<div class="col">
			<p>{{ this_order.business_name }}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Work Requested</h4>
		</div>
		<div class="col">
			<p>{{ this_order.date }}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Website Type</h4>
		</div>
		<div class="col">
			<p>{{ this_order.website }}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Total Cost</h4>
		</div>
		<div class="col">
			<p>£{{ this_order.price|floatformat:2 }}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h4 class="subtitle">Total to Pay</h4>
		</div>
		<div class="col">
			<p>£{{ to_pay|floatformat:2 }}</p>
		</div>
	</div>
	<hr>
</div>
<div class="content">
	<div class="row">
		<div class="col">
			<a id="PrintPage" class="btn btn-secondary" href="#">Print</a>
		</div>
		<div class="col">
			<a class="btn btn-primary" href="{% url 'payment' slug=this_order.id %}">Make Payment</a>
		</div>
	</div>
</div>
{% endblock %}