<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% include 'layout/scripts.html' %}
    {% block head_js %}{% endblock head_js %}

	<title>{% block page_title %}{% endblock %}</title>
</head>


<body>
	{% include 'layout/header.html' %}
	{% block page_heading %}
	{% endblock %}

	{% block content %}
	{% endblock %}
    {% include 'layout/modals.html' %}
    
    {% include 'layout/footer.html' %}
	
</body>

</html>