{% load static %}
<footer>
	<div class="row">
		<div class="col">
			<p>If you have a project in mind or any other questions please get in touch <a
					href="{% url 'question' %}">here</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p class="footer-note">Website designed and developed by<br>
    Owen Cookman</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="https://linkedin.com/in/owen-cookman" target="blank">
				<i class="fab fa-linkedin"></i>
			</a>
		</div>
	</div>
</footer>