<!-- Modal for Tailored website information -->
<div class="modal" tabindex="-1" role="dialog" id="TailoredWebsiteModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title title">Tailored Website</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body align-left">
				<p>Many media agencies will build their customer's websites with as much reusable code as possible.
					Although this is an effective strategy to build websites quickly it can also lead to recognisable
					features where two different websites look very similar.</p>
				<p>I will build you a website with any design
					ideas that you have in mind and will try to keep the website as close to your business image as
					possible. If you don't have images and logos for your business I can put you in touch with a graphic
					designer if needed.</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal for Targeted Design information -->
<div class="modal" tabindex="-1" role="dialog" id="TargetedDesignModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title title">Targeted Design</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body align-left">
				<p>The use of appropriate colours and imagery will give your users an idea of
					your businesses identity. If you want users to see you as formal and professional,
					informal fonts and a mix of bright colours won't portray that.</p>
				<p>I will
					look at your business and who your customers/clients are. With your target audience
					in mind the design will ensure that your business is portrayed the way that you want 
                    it.</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal for Modern Languages information -->
<div class="modal" tabindex="-1" role="dialog" id="ModernLanguagesModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title title">Modern Languages</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body align-left">
				<p>The world of coding is constantly moving forwards.</p>
				<p>To ensure that your website is future proofed I use and stay up to date with the latest
					coding languages. This will guarantee that your website is innovative, prepared for the
					ever changing world and utilises the cutting edge of web application features.</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal for Responsive information -->
<div class="modal" tabindex="-1" role="dialog" id="ResponsiveModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title title">Responsive</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body align-left ">
				<p>A responsive website has become essential to businesses as their customers and clients
					expect a smooth, easy to use experience no matter what screen size they are viewing their
					favourite website on.
				</p>
				<p>Whether your users are viewing your website on a TV screen or mobile phone they
					should have a positive and easy to use experience.</p>
				<p>I will ensure that your website looks great no matter what device it
					appears on. This will also help future proof your website as different
					screen resolutions appear on the market.</p>
			</div>
		</div>
	</div>
</div>