<!-- Modal for Tailored website information -->
<div class="modal" tabindex="-1" role="dialog" id="TailoredWebsite">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title title">Tailored Website</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<p>Many media agencies will build their customer's websites with as much reusable code as possible.
					Although this is an effective strategy to build websites quickly it can also lead to recognisable
					features where two different websites look very similar. I will build you a website with any design
					ideas that you have in mind and will try to keep the website as close to your business image as
					possible. If you don't have images and logos for your business I can put you in touch with a graphic
					designer if needed.</p>
			</div>
		</div>
	</div>
</div>
<!-- Modal for Targeted Design information -->
<div class="modal" tabindex="-1" role="dialog" id="TargetedDesign">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title title">Targeted Design</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
			</div>
			<div class="modal-body">
				<p>The use of appropriate colours and imagery will give your users an idea of
                your businesses identity. If you want users to see you as formal and professional
                childish fonts and lots of different bright colours won't portray that. I will
                look at your business and who your customers/clients are. Design around this
                so that your business is portrayed the way that you want it and your users get the 
                right idea about who you are.</p>
			</div>
		</div>
	</div>
</div>