{% extends 'layout/base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block page_title %}Contact page{% endblock %}

{% block page_heading %}<h1 class="title">Order</h1>{% endblock %}

{% block content %}
<div class="content">
	<p>Please fill out the below form to let me know what kind of website you would like building.</p>
	<p>Give as much information as possible on your business and the people who you provide services to where possible.
	</p>
	<p>After recieving your order I will assess how long the build will take and how complex the functionality will be
		to create. I may need to contact you via email for any extra details. Once my assessment is complete I will give
		you
		an estimated build time and the price of your build.</p>
	<p>If you wish to continue 50% of the price will need to be paid as a deposit, once your website is completed the
		remaining cost will need to
		be paid.</p>
</div>
<div class="content">
	<p>Fields marked * are required</p>
	<form action="{% url 'contact' %}" method="POST">
		{% csrf_token %}
		{{ contact_form | as_bootstrap }}
		<button class="btn btn-primary" type="submit">Send</button>
	</form>
</div>
{% endblock %}