{% extends 'layout/base.html' %}
{% load static %}

{% block page_title %}Are you sure?{% endblock %}

{% block content %}
<section>
	<p>Are you sure you want to delete the below question?</p>
	<p>{{ question.question }}</p>
</section>
<section>
	<form method="POST" action="{% url 'delete_question' slug=question.id %}">
		{% csrf_token %}
		<div class="row">
			<div class="col">
				<a href="{% url 'profile' %}"><button class="btn btn-secondary">Cancel</button></a>
			</div>
			<div class="col">
				<input class="btn btn-danger" type="submit" name="Confirm">
            </div>
		</div>
	</form>
</section>
{% endblock %}