{% extends 'layout/base.html' %}
{% load bootstrap_tags %}
{% load static %}

{% block page_title %}Send a Message{% endblock %}

{% block content %}
<section>
	<p>Please fill out the below form to leave me a message about a project that you would like to work on or to ask
		any questions that you might have.</p>
</section>
<section>
	{% csrf_token %}
	<form action="{% url 'question' %}" method="POST">
		{% csrf_token %}
		{{ question_form | as_bootstrap }}
		<button type="submit">Send</button>
	</form>
</section>
{% endblock %}